footer {
	background-color:$dark-grey-bkf;
	width:100%;
	color: $font-color-white;
	font-size: $font-size-base;
	padding: {
		top:20px;
		bottom:20px;
	}

	ul {
		@include list-style(0, none);

		li {
			@include list-item-style(inline, 10px);
		}
	}

	.social-icons {
		font-size: 25px;
	}

	.legals {
		width: 70%;
		margin: 0 auto;
	}

	.footer-brand {
		background-color:$body-bkg;
		color: $font-main-color;
		margin-bottom: 20px;
		font-size: 60px;
	}
}