//----------------------------------*\
// Backgrounds
//----------------------------------*/
$body-bkg:#eeeeee;
$header-bkg:#ffffff;
$icon-bkg:#f7f7f7;
$icon-bkg-highlight:#3d88ed;
$hero-section-bkg:#304248;
$hero-tile-bkg:#3e535a;
$bkg-item-selected:#58dbdd;
$dark-grey-bkf:#545c5d;
$white-bkg:#fbfbfb;

//----------------------------------*\
// Fonts Colours
//----------------------------------*/
$font-main-color:#394345;
$font-color-white:#fff;

//----------------------------------*\
// Fonts Sizes
//----------------------------------*/
$font-size-base:10px;
$font-size-h3:12px;

//----------------------------------*\
// Display
//----------------------------------*/
$display-block:block;
$display-inline-block:inline-block;

//----------------------------------*\
// Icon heights
//----------------------------------*/
$icon-height:28px;

